
*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    font-size: 1cm;
    background-color: #e85f64;
    height: 60px;
    display: block;
}

.logo{
    position: absolute;
    color: white;
    top: 8px;
    left: 1cm;
}

.bloque{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height:400px; 
    background: white;
    border:solid;
    border-color: rgb(205, 77, 52);
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 248, 245);
    height:100vh;
}


.login-title{
    margin: 0%;
    text-align: center;
    align-items: center;
    top: auto;
    background-color: #fed0d1;
}

.texto-usuario{
    position: absolute;
    margin: 0%;
    top: 2cm;
    text-align: left;
    margin-left: 1cm;
    font-family: 'Albert Sans', sans-serif;
}

.texto-contraseña{
    margin: 0%;
    position: absolute;
    bottom: 5cm;
    text-align: left;
    margin-left: 1cm;
    font-family: 'Albert Sans', sans-serif;
}

.bloque-ingreso{
    position: relative;
    padding: 0%;
    top: 4.5cm;
    right: 9.5cm;
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto-respuesta{
    height: 30px;
    width: 400px;
}

.input-user{
    position: relative;
    left: 40px;
    top: 2cm;
}

.input-pass{
    position: relative;
    left: 40px;
    top: 4cm;
}

/*
componentes para formulario web
a.paterno
a.materno
nombres
fecha de nacimiento
pais
estado
municipio
numero (10 digitos)
correo e. (@)
password (10 digitos)
*/