
/*Seleccionar todo*/
*{
    /*Margen y relleno del 0% lo que evitará que todo el html tenga algun tipo de margen o relleno tal cual*/
    margin:0% ;
    padding: 0%;
    /*Tipo de fuente*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Se llaman a las clases o etiquetas que van a ser afectadas*/

header{
    font-size: 1cm; /*Tamaño de la fuente*/
    background-color: #e85f64; /*color de fondo*/
    height: 60px; /*altura de 60 pixeles*/
}

.logo{
    position: absolute; /*Cuando un objeto está absolutamente posicionado es sacado del flujo, como si no formara parte. O sea, se puede acomodar como sea*/
    color: white;/*Fondo blanco*/
    top: 8px; /*alto de 8 pixeles*/
    left: 1cm; /*izquierda a un centimetro*/
}

.bloque{
    position: absolute; /*posicion absoluta*/
    top: 55%; /*tiene una altura especifica del 55 por ciento*/
    left: 50%; /*Y un izquierdo del 50%*/
    transform: translate(-50%, -50%); /*Este funciona para centrar el bloque al centro de la pagina*/
    width: 900px; /*Ancho de 900 pixeles*/
    height:400px; /*Altura de 400 pixeles*/
    background: white; /*Fondo blanco*/
    border:solid; /*Borde tipo solido*/
    border-color: rgb(205, 77, 52); /*Color de borde*/
}

.recuperar-contraseña-title{
    margin: 0%; /*margen de 0%*/
    text-align: center; /*Alinear texto al centro*/
    top: auto; /*alto automatico*/
    background-color: #fed0d1; /*color de fondo*/
}

.boton-recuperar-contraseña [type="button"]{    
    position: absolute;
    left: 9.3cm;/*izquierdo de 9.3cm*/
    top: 9cm; /*altura de 9cm*/
    border: none; /*ningun borde*/
    outline: none; /*es usada para establecer el estilo del contorno de un elemento*/
    background: #e85f64; /*color de fondo*/
    color: white; /*Color de letra*/
    border-radius: 20px; /*borde de redondeado al 20px*/
    height: 40px; /*alto de 40 pixeles*/
    width: 200px; /*ancho de 200px*/
}

.texto-telefono{
    position: relative; /*Las posiciones relativas no se salen del flujo*/
    left: 0.5cm; /*izquierdo de 0.5cm*/
    position: absolute;
    margin: 0%; /*Margen 0*/
    top: 2cm;
    text-align: left; /*Alinear texto a la izquierda*/
    margin-left: 1cm; /*Margen izquierdo de 1cm*/
    font-family: 'Albert Sans', sans-serif;
}

/*posicionamiento de las clases*/
    
.correo-electronico{
    position: relative;
    left: 0.5cm;
    position: absolute;
    margin: 0%;
    top: 4cm;
    text-align: left;
    margin-left: 1cm;
    font-family: 'Albert Sans', sans-serif;
}
    
.usuario{
    position: relative;
    left: 0.5cm;
    position: absolute;
    margin: 0%;
    top: 6cm;
    text-align: left;
    margin-left: 1cm;
    font-family: 'Albert Sans', sans-serif;
}

.input-tel{
    position: relative;
    left: 60px;
    top: 2cm;
    height: 30px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5cm;
}

.texto-correo-electronico{
    position: relative;
    left: 60px;
    top: 3cm;
    height: 30px; /*alto*/
    width: 400px; /*ancho*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5cm; /*tamaño de letra*/
}

.texto-usuario{
    position: relative;
    left: 60px;
    top: 4.1cm;
    height: 30px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5cm;
}
